#include <physical_layouts.dtsi>

/ {
    lapka_layout: lapka_layout {
        compatible = "zmk,physical-layout";
        display-name = "Lapka Layout";
        transform = <&lapka_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0  161 (-2000)    50   211>
            , <&key_physical_attrs 100 100   92   56 (-1500)   142   106>
            , <&key_physical_attrs 100 100  203    0 (-1000)   253    50>
            , <&key_physical_attrs 100 100  324   13  (-500)   374    63>
            , <&key_physical_attrs 100 100  445   36       0     0     0>
            , <&key_physical_attrs 100 100 1046   36       0     0     0>
            , <&key_physical_attrs 100 100 1166   13     500  1216    63>
            , <&key_physical_attrs 100 100 1288    0    1000  1338    50>
            , <&key_physical_attrs 100 100 1399   56    1500  1449   106>
            , <&key_physical_attrs 100 100 1491  161    2000  1541   211>
            , <&key_physical_attrs 100 100   32  255 (-2000)    82   305>
            , <&key_physical_attrs 100 100  117  153 (-1500)   167   203>
            , <&key_physical_attrs 100 100  219   99 (-1000)   269   148>
            , <&key_physical_attrs 100 100  333  112  (-500)   383   162>
            , <&key_physical_attrs 100 100  445  136       0     0     0>
            , <&key_physical_attrs 100 100 1046  136       0     0     0>
            , <&key_physical_attrs 100 100 1158  112     500  1208   162>
            , <&key_physical_attrs 100 100 1272   99    1000  1322   148>
            , <&key_physical_attrs 100 100 1374  153    1500  1424   203>
            , <&key_physical_attrs 100 100 1459  255    2000  1509   305>
            , <&key_physical_attrs 100 100   65  349 (-2000)   115   399>
            , <&key_physical_attrs 100 100  141  249 (-1500)   191   299>
            , <&key_physical_attrs 100 100  235  197 (-1000)   285   247>
            , <&key_physical_attrs 100 100  341  212  (-500)   391   262>
            , <&key_physical_attrs 100 100  445  236       0     0     0>
            , <&key_physical_attrs 100 100 1046  236       0     0     0>
            , <&key_physical_attrs 100 100 1150  212     500  1200   262>
            , <&key_physical_attrs 100 100 1256  197    1000  1306   247>
            , <&key_physical_attrs 100 100 1350  249    1500  1400   299>
            , <&key_physical_attrs 100 100 1426  349    2000  1476   399>
            , <&key_physical_attrs 100 100  391  364  (-500)   441   415>
            , <&key_physical_attrs 100 100  499  364     500   549   415>
            , <&key_physical_attrs 100 100  605  384    1500   655   434>
            , <&key_physical_attrs 100 100  886  384 (-1500)   936   434>
            , <&key_physical_attrs 100 100  992  364  (-500)  1042   415>
            , <&key_physical_attrs 100 100 1100  364     500  1150   415>
            ;
    };

    lapka_pncateho_layout: lapka_pncateho_layout {
        compatible = "zmk,physical-layout";
        display-name = "Lapka+PNCATEHO Layout";
        transform = <&lapka_pncateho_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0  161 (-2000)    50   211>
            , <&key_physical_attrs 100 100   92   56 (-1500)   142   106>
            , <&key_physical_attrs 100 100  203    0 (-1000)   253    50>
            , <&key_physical_attrs 100 100  324   13  (-500)   374    63>
            , <&key_physical_attrs 100 100  445   36       0     0     0>
            , <&key_physical_attrs 100 100 1046   36       0     0     0>
            , <&key_physical_attrs 100 100 1166   13     500  1216    63>
            , <&key_physical_attrs 100 100 1288    0    1000  1338    50>
            , <&key_physical_attrs 100 100 1399   56    1500  1449   106>
            , <&key_physical_attrs 100 100 1491  161    2000  1541   211>
            , <&key_physical_attrs 100 100   32  255 (-2000)    82   305>
            , <&key_physical_attrs 100 100  117  153 (-1500)   167   203>
            , <&key_physical_attrs 100 100  219   99 (-1000)   269   148>
            , <&key_physical_attrs 100 100  333  112  (-500)   383   162>
            , <&key_physical_attrs 100 100  445  136       0     0     0>
            , <&key_physical_attrs 100 100 1046  136       0     0     0>
            , <&key_physical_attrs 100 100 1158  112     500  1208   162>
            , <&key_physical_attrs 100 100 1272   99    1000  1322   148>
            , <&key_physical_attrs 100 100 1374  153    1500  1424   203>
            , <&key_physical_attrs 100 100 1459  255    2000  1509   305>
            , <&key_physical_attrs 100 100   65  349 (-2000)   115   399>
            , <&key_physical_attrs 100 100  141  249 (-1500)   191   299>
            , <&key_physical_attrs 100 100  235  197 (-1000)   285   247>
            , <&key_physical_attrs 100 100  341  212  (-500)   391   262>
            , <&key_physical_attrs 100 100  445  236       0     0     0>
            , <&key_physical_attrs 100 100 1046  236       0     0     0>
            , <&key_physical_attrs 100 100 1150  212     500  1200   262>
            , <&key_physical_attrs 100 100 1256  197    1000  1306   247>
            , <&key_physical_attrs 100 100 1350  249    1500  1400   299>
            , <&key_physical_attrs 100 100 1426  349    2000  1476   399>
            , <&key_physical_attrs 100 100  391  364  (-500)   441   415>
            , <&key_physical_attrs 100 100  499  364     500   549   415>
            , <&key_physical_attrs 100 100  605  384    1500   655   434>
            , <&key_physical_attrs 100 100  886  384 (-1500)   936   434>
            , <&key_physical_attrs 100 100  992  364  (-500)  1042   415>
            , <&key_physical_attrs 100 100 1100  364     500  1150   415>


            , <&key_physical_attrs 100 100  500  600       0     0     0>
            , <&key_physical_attrs 100 100  600  600       0     0     0>
            , <&key_physical_attrs 100 100  700  600       0     0     0>
            , <&key_physical_attrs 100 100  800  600       0     0     0>
            , <&key_physical_attrs 100 100  500  700       0     0     0>
            , <&key_physical_attrs 100 100  600  700       0     0     0>
            , <&key_physical_attrs 100 100  700  700       0     0     0>
            , <&key_physical_attrs 100 100  800  700       0     0     0>
            , <&key_physical_attrs 100 100  800  800       0     0     0>
            , <&key_physical_attrs 100 100  900  800       0     0     0>
            ;
    };

    lapka_position_map {
        compatible = "zmk,physical-layout-position-map";
        complete;

        lapka: lapka {
            physical-layout = <&lapka_layout>;
            positions
                = < 0  1  2  3  4       5  6  7  8  9>
                , <10 11 12 13 14      15 16 17 18 19>
                , <20 21 22 23 24      25 26 27 28 29>
                , <      30 31 32      33 34 35      >

                , < 36 37 38 39 >
                , < 40 41 42 43 >
                , <          44 45 >
                ;
        };

        lapka_pncateho: lapka_pncateho {
            physical-layout = <&lapka_pncateho_layout>;
            positions
                = < 0  1  2  3  4       5  6  7  8  9>
                , <10 11 12 13 14      15 16 17 18 19>
                , <20 21 22 23 24      25 26 27 28 29>
                , <      30 31 32      33 34 35      >

                , < 36 37 38 39 >
                , < 40 41 42 43 >
                , <          44 45 >
                ;
        };
    };
};
